body {
  background-color: #C6E2FF;
  font-family: 'Economica', sans-serif;
}

h1 {
  text-align: center;
  color: #4C7093;
  font-family: 'Shadows Into Light', cursive;
  font-size: 90;
  background-image: url("http://static4.depositphotos.com/1003753/312/v/950/depositphotos_3124248-Tropical-banner.jpg");
  border: 500px;
}

h1:hover {
  display:block;
}



a:hover {
  color:green;
  font-size: 30px;
}

a:visited {
  color:red;
}

#topten {
  list-style-position: inside;
  text-align: center;
}

#table {
  text-align: center;
  border-style: solid;
  border-collapse: collapse;

}

.city_title{
  margin: 10;
  font-weight: bold;
  font-size: 20;
}
h2 {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
}

img {
  margin: 12;
}

.borderstyle {
  border-style: solid;
  border-color: orange;

}

footer {
  margin: 30px;
}
