body {
  background-color: #C6E2FF;
}

h1 {
  text-align: center;
  color: #4C7093;
}

a:hover {
  color:green;
  font-size: 30px;
}

a:visited {
  color:red;
}

#topten {
  list-style-position: inside;
  text-align: center;
}

#table {
  text-align: center;
  border-style: solid;
  border-collapse: collapse;

}

.city_title{
  margin: 10;
  font-weight: bold;
  font-size: 20;
}
h2 {
  text-align: center;
  color: orange;
}

img {
  margin: 12;
}

.borderstyle {
  border-style: solid;
  border-color: orange;

}
